.MMM-Webhook-Notification
{
    width: 600px;
    height: 100%;    
    position: absolute;
    top: 0;
    right: 0;    
    opacity : 0;
    background-color: #cccccc!important;
}

.ns-box
{
    background-color: #cccccc;
    overflow: hidden; /* 내부 요소가 넘치면 숨김 */
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    box-sizing: border-box;
}

.ns-box-inner
{
    position: relative;
    display: inline-block;
    /* animation: ticker 5s linear infinite; */
}

/* 키프레임으로 애니메이션의 시작과 끝 상태를 정의합니다 */
@keyframes ticker {
    from {
        left: 90%;
    }
    to {
        left: -90%;
    }
}